.anticipated{
    color: $color-3;
    overflow: hidden;
    margin-top: 50px;
    h1{
        color: $color-1;
        font-size: 1.5em;
    }
    .pd{
        padding: 15px;
    }
    @include title;

    .testimonials{
        @include flexbox(center, center); 
        gap: 40px;
        margin: 50px;
    }

}