.banner{
    width: 100%;
    height:400px;
    background-image: url(/Assets/img/wish.jpg);
    position: relative;
    overflow: hidden;

    .banner-content{
        width: 20%;
        color: $color-1;
        position: absolute;
        top: 10%;
        left: 10%;

        .banner-title{
            font-size: 1.2em;
        }

        .read-more{
            color: $color-1;
        }
        .read-more:hover{
            color: #d0e19d;
        }
        
    }

    
    @include pd;
}