.main-container{
    overflow: hidden;
}

.center-section{
    padding: 50px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    .side-bar{
        grid-column: 1 / 2;
        border-radius: 30px ;
    }

    .main-card-container{
        color: $color-1;
        grid-column: 2/6;
        text-align: center;
        background-color: #232231fb;


        .main-card-title{
            h1{
                padding: 30px 10px;
            }
            @include flexbox(center, center){
                flex-direction: column;
            }

            .underline{
                @include underline;
                margin-top: 10px;
            }
        }

        @include flexbox(none, center){
            flex-direction: column;
        }

        .main-content{
            @include flexbox(center, center);
            flex-wrap: wrap;
            padding: 10px;
            
        }
    }
    
    .main-trailer-container{
        background-color: $color-2;
        color: $color-1;
        padding: 50px 20px 0;
        border-radius: 30px;
        img{
            height: auto;
        }
        @include flexbox(none, center){
            flex-direction: column;
        }
    }
}

@mixin center-s-m{
    .center-section{
        display: block;
    }
}

@include s{
    @include center-s-m;
}
@include m{
    @include center-s-m;
}