.side-bar{
    background-color: $color-2;
    color: $color-1;
    text-align: center;
    padding: 50px 50px 0;

    .language-title, .genre-title{
        margin: 10px 0;
    }

    .lists{
        @include li-components-design();
        
    }

    .lists:hover{
        @include li-components-hover();
    }
}

@mixin s-m{
    .side-bar{
        @include flexbox(center, none);
    }
}

@include s{
    @include s-m;
}

@include m{
    @include s-m;
}