.suggested{
    width: 100%;
    color: $color-1;
    padding: 50px;

    .pd{
        padding: 15px;
    }

    @include flexbox(center, center){
        flex-direction: column;
    }

    @include title;

    .wrap{
        @include flexbox(center,center){
            flex-wrap: wrap;
        }
    }

    
}