.top-films, .all-films{
    color: $color-1;
    width: 70%;
    margin: 0 auto;
    @include flexbox(center, center){
        flex-direction: column;
        padding: 50px;
    }
    h1{
        padding: 15px;
    }
    .top-films-card-cont, .all-films-card-cont{
        @include flexbox(center, center){
            flex-wrap: wrap;
        }
        padding: 30px;
    }
    
    @include title;
    .top-films-arrows{
        min-width: 200px;
        .arrow{
            font-size: 50px;
            color: $color-1;
            padding: 10px;
            margin: 10px;
            cursor: pointer;
            transition: .1s ease-in-out;
        }
    
        .arrow:hover{
            transform: scale(1.5);
        }
    }
    

    .categories{
        width: 100%;
        text-align: center;
        margin-top: 40px;

        
        .catg{
            @include flexbox(space-between, center);
            list-style: none;
            cursor: pointer;

            .link:hover{
                color: #f1ecec;
            }

            .submenu-cont{
                position: relative;
                padding-right: 15px;
            }

            .pd{
                position: absolute;
            }

            .link{
                color: $color-1;
                text-decoration: none;
            }
            
        }

        .underline{
            border-top: none;
            width: 100%;
            margin-top: 10px;
        }
    }

    .view-more{
        text-decoration: none;
        color: $color-1;
        transition: .1s ease;
        border-top: 2px solid $color-1;
        border-bottom: 2px solid $color-1;
        padding: 10px;
    }
    .view-more:hover{
        color: #d0e19d;
    }
}

@media screen and (max-width: 700px){
    .catg{
        flex-direction: column;
    }
}


@media screen and ((min-width: 800px ) or (max-width: 890px)){
    .top-films{
        text-align: center;
        .card:nth-child(2){
            display: none;

        }
    }

    .all-films{
        text-align: center;
        .catg{
            .submenu-cont:hover .submenu{
                display: block;
            }
        
            .submenu {
                display: none;
                list-style: none;
                position: absolute;
                left: -75%;
                z-index: 2;
                border: 3px solid $color-4;
                background-color: $color-4;
                border-radius: 10px;
                li{
                    margin: 20px;
                    .nav-components{
                        @include li-components-design();
                        padding: 10px 30px;
                        text-decoration: none;
                        color: $color-1;
                    }
                }
        
                .nav-components:hover{
                   @include li-components-hover();
                }
            }

        }
    }

    
}

@media screen and (max-width: 1200px){
    .top-films{
        .card:nth-child(3){
            display: none;

        }
    }
    
}

@media screen and (max-width: 1500px){
    .top-films{
        .card:nth-child(4), .card:nth-child(5){
            display: none;

        }
    }
    
}


