.header{
    background-color: $color-2;
    color: $color-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 1.5em 3em;
    width: 100%;
    overflow: hidden;
    height: 130px;

    .logo-container{
        grid-column: 1/3;
        .logo{
            width: 300px;
            margin: 0 auto;
        }

        @include flexbox(flex-start, center);
        padding: 10px;
    }

    .nav-bar{
        grid-column: 4/6;
        margin-right: 0;
        font-size: 20px;
        @include flexbox(flex-end, center);

        .nav-container-ul{
            @include flexbox(center,center);
            
            .nav-components{
                @include li-components-design();
                padding: 10px;
                white-space: nowrap;
            }

            .nav-components:hover{
               @include li-components-hover();
            }
        }

        .sign-up{
            margin-left: 20px;
            @include li-components-design();
            border: $color-1 solid;
            padding: 10px 15px;
            white-space: nowrap;
        }

        .sign-up:hover{
           @include li-components-hover();
        }

        .burger{
            display: none;
        }
    }
}


@media screen and (max-width: 950px){
    .header{
        @include flexbox(center, center){
            flex-direction: column;
        }
        height: 200px;
    }
}
@media screen and (max-width: 550px){
    .header{
        .nav-bar{
            font-size: 1em;
            flex-direction: column;
        }
        height: 250px;
    }
}
@media screen and (max-width: 350px){
    .header{
        padding: 10px;
        height: 100px;
        @include flexbox(space-between,center){
            flex-direction: row;
        }

        .logo{
            width: 200px !important;
        }
        
        .nav-components, .sign-up{
            display: none;
        }

        .burger{
            display: block !important;
            font-size: 30px;
            cursor: pointer;
            transition: .1s ease;
            border-radius: 10px;
            font-weight: 400;
        }
        .burger:hover{
           background-color: $color-1;
           color: $color-3;
        }
    }
}