@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.header {
  background-color: #12111f;
  color: #f6bd07;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 1.5em 3em;
  width: 100%;
  overflow: hidden;
  height: 130px;
}
.header .logo-container {
  grid-column: 1/3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
.header .logo-container .logo {
  width: 300px;
}
.header .search-bar {
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .search-bar #search {
  border: 2.5px solid #625d5d;
  background: none;
  outline: none;
  height: 30px;
  width: 250px;
  border-radius: 15px;
}
.header .nav-bar {
  grid-column: 4/6;
  margin-right: 0;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .nav-bar .nav-container-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav-bar .nav-container-ul .nav-components {
  padding: 15px;
  list-style-type: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.1s;
  padding: 10px;
}
.header .nav-bar .nav-container-ul .nav-components:hover {
  background-color: #f6bd07;
  color: #12111f;
}
.header .nav-bar .sign-up {
  margin-left: 20px;
  padding: 15px;
  list-style-type: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.1s;
  border: #f6bd07 solid;
  padding: 10px 15px;
}
.header .nav-bar .sign-up:hover {
  background-color: #f6bd07;
  color: #12111f;
}

@media (max-width: 600px) {
  .header {
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 20vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header .logo-container {
    grid-row: 1/2;
    grid-column: 1/6;
  }
  .header .search-bar {
    display: none;
  }
  .header .nav-bar {
    grid-row: 2/3;
  }
}
@media ((min-width: 600px) and (max-width: 720px)) {
  .header {
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 20vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header .logo-container {
    grid-row: 1/2;
    grid-column: 1/6;
  }
  .header .search-bar {
    display: none;
  }
  .header .nav-bar {
    grid-row: 2/3;
  }
}
@media ((min-width: 720px) and (max-width: 992px)) {
  .header .logo-container {
    grid-column: 1/3;
    width: 100%;
  }
  .header #search {
    display: none;
  }
  .header .nav-bar {
    text-align: center;
  }
}
@media ((min-width: 992px) and (max-width: 1200px)) {
  .header {
    height: 20vh;
  }
  .logo-container {
    width: 100%;
  }
}
@media ((min-width: 1200px) and (max-width: 1400px)) {
  .header {
    height: 20vh;
  }
  .logo-container {
    width: 100%;
  }
}
.card {
  width: 220px;
  height: 370px;
  position: relative;
  transition: 0.1s ease;
  padding: 10px;
}
.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  cursor: pointer;
}
.card .rating, .card .description {
  color: #f6bd07;
  text-align: center;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.top-films, .all-films {
  color: #f6bd07;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
.top-films h1, .all-films h1 {
  padding: 15px;
}
.top-films .top-films-card-cont, .top-films .all-films-card-cont, .all-films .top-films-card-cont, .all-films .all-films-card-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.top-films .underline, .all-films .underline {
  width: 100px;
  border: 2px solid #f6bd07;
  border-right: none;
  border-left: none;
  height: 5px;
}
.top-films .arrow, .all-films .arrow {
  font-size: 50px;
  color: #f6bd07;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.top-films .arrow:hover, .all-films .arrow:hover {
  transform: scale(1.5);
}
.top-films .categories, .all-films .categories {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
.top-films .categories .catg, .all-films .categories .catg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.top-films .categories .catg li, .all-films .categories .catg li {
  cursor: pointer;
  transition: 0.1s ease;
}
.top-films .categories .catg li:hover, .all-films .categories .catg li:hover {
  color: #d0e19d;
}
.top-films .categories .underline, .all-films .categories .underline {
  border-top: none;
  width: 100%;
  margin-top: 10px;
}

.intro {
  height: 100vh;
  width: 100vw;
  color: #f6bd07;
  background-image: url("https://www.plex.tv/wp-content/uploads/2021/04/plex-splash-screen-04-30-21-new-1024x576.png");
  background-attachment: fixed;
}
.intro .pd {
  padding: 10px;
}
.intro .intro-container {
  width: 65%;
  padding: 150px;
}
.intro .intro-container .intro-title {
  font-size: 4em;
}
.intro .intro-container .intro-title .logo-span {
  color: #12111f;
  background-color: #f6bd07;
  padding: 5px 15px;
  border-radius: 20px;
}
.intro .intro-container .intro-subtitle {
  font-size: 1.5em;
}
.intro .intro-container .intro-button {
  padding: 15px;
  list-style-type: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.1s;
  border: #f6bd07 solid;
  background-color: #f6bd07;
  margin-top: 10px;
  padding: 10px 15px;
  height: 60px;
  width: 170px;
  font-size: 20px;
  font-weight: 600;
}
.intro .intro-container .intro-button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #f6bd07;
}

.banner {
  width: 100%;
  height: 400px;
  background-image: url(https://www.odeon.co.uk/media/wfud2teq/wish_odeon_homepagesnippet_1680x420.jpg?center=0.657886450917856,0.764945342884404&mode=crop&width=1920&height=423&rnd=133444292364600000);
  position: relative;
}
.banner .banner-content {
  width: 20%;
  color: #f6bd07;
  position: absolute;
  top: 10%;
  left: 10%;
}
.banner .banner-content .banner-title {
  font-size: 1.2em;
}
.banner .banner-content .read-more {
  color: #f6bd07;
}
.banner .banner-content .read-more:hover {
  color: #d0e19d;
}
.banner .pd {
  padding: 10px;
}

.side-bar {
  background-color: #12111f;
  color: #f6bd07;
  text-align: center;
  padding: 50px 50px 0;
}
.side-bar .language-title, .side-bar .genre-title {
  margin: 10px 0;
}
.side-bar .lists {
  padding: 15px;
  list-style-type: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.1s;
}
.side-bar .lists:hover {
  background-color: #f6bd07;
  color: #12111f;
}

@media (max-width: 600px) {
  .side-bar {
    display: flex;
    justify-content: center;
    align-items: none;
  }
}
@media ((min-width: 600px) and (max-width: 720px)) {
  .side-bar {
    display: flex;
    justify-content: center;
    align-items: none;
  }
}
.main-container {
  overflow: hidden;
}

.center-section {
  padding: 50px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.center-section .side-bar {
  grid-column: 1/2;
  border-radius: 30px;
}
.center-section .main-card-container {
  color: #f6bd07;
  grid-column: 2/6;
  text-align: center;
  background-color: rgba(35, 34, 49, 0.9843137255);
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
}
.center-section .main-card-container .main-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.center-section .main-card-container .main-card-title h1 {
  padding: 30px 10px;
}
.center-section .main-card-container .main-card-title .underline {
  width: 100px;
  border: 2px solid #f6bd07;
  border-right: none;
  border-left: none;
  height: 5px;
  margin-top: 10px;
}
.center-section .main-card-container .main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
.center-section .main-trailer-container {
  background-color: #12111f;
  color: #f6bd07;
  padding: 50px 20px 0;
  border-radius: 30px;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
}
.center-section .main-trailer-container img {
  height: auto;
}

@media (max-width: 600px) {
  .center-section {
    display: block;
  }
}
@media ((min-width: 600px) and (max-width: 720px)) {
  .center-section {
    display: block;
  }
}
.suggested {
  width: 100%;
  color: #f6bd07;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.suggested .pd {
  padding: 15px;
}
.suggested .underline {
  width: 100px;
  border: 2px solid #f6bd07;
  border-right: none;
  border-left: none;
  height: 5px;
}
.suggested .title-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.suggested .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  background-color: #12111f;
  color: #f6bd07;
  display: grid;
  grid-template-columns: 20% 30% 10% 40%;
  grid-template-rows: repeat(2, 1fr);
  padding: 40px;
  text-align: center;
  margin: auto;
}
.footer-content .footer-logo-container {
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content .footer-logo-container .logo {
  width: 100%;
}
.footer-content .apps {
  padding: 10px;
  grid-column: 2/4;
}
.footer-content .apps h5 {
  font-size: 1.2em;
}
.footer-content .apps img {
  height: 70px;
  padding: 10px 10px;
  cursor: pointer;
  transition: 0.1s ease;
  background: none;
}
.footer-content .apps img:hover {
  transform: scale(1.2);
}
.footer-content .footer-nav {
  grid-row: 2/3;
  grid-column: 2/4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer-content .footer-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.footer-content .footer-nav ul li a {
  color: #f6bd07;
  transition: 0.1s ease;
  padding: 10px;
}
.footer-content .footer-nav ul li a:hover {
  color: #d0e19d;
}
.footer-content .text {
  grid-column: 4/5;
  grid-row: 1/3;
  width: 80%;
  margin: auto;
}
.footer-content .text p {
  width: 100%;
}

body {
  background-color: #232231;
}/*# sourceMappingURL=style.css.map */