@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.header {
  background-color: #12111f;
  color: #f6bd07;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 1.5em 3em;
  width: 100%;
  overflow: hidden;
  height: 130px;
}
.header .logo-container {
  grid-column: 1/3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
.header .logo-container .logo {
  width: 300px;
  margin: 0 auto;
}
.header .nav-bar {
  grid-column: 4/6;
  margin-right: 0;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .nav-bar .nav-container-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav-bar .nav-container-ul .nav-components {
  padding: 15px;
  list-style-type: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.1s;
  padding: 10px;
  white-space: nowrap;
}
.header .nav-bar .nav-container-ul .nav-components:hover {
  background-color: #f6bd07;
  color: #12111f;
}
.header .nav-bar .sign-up {
  margin-left: 20px;
  padding: 15px;
  list-style-type: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.1s;
  border: #f6bd07 solid;
  padding: 10px 15px;
  white-space: nowrap;
}
.header .nav-bar .sign-up:hover {
  background-color: #f6bd07;
  color: #12111f;
}
.header .nav-bar .burger {
  display: none;
}

@media screen and (max-width: 950px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
  }
}
@media screen and (max-width: 550px) {
  .header {
    height: 250px;
  }
  .header .nav-bar {
    font-size: 1em;
    flex-direction: column;
  }
}
@media screen and (max-width: 350px) {
  .header {
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .header .logo {
    width: 200px !important;
  }
  .header .nav-components, .header .sign-up {
    display: none;
  }
  .header .burger {
    display: block !important;
    font-size: 30px;
    cursor: pointer;
    transition: 0.1s ease;
    border-radius: 10px;
    font-weight: 400;
  }
  .header .burger:hover {
    background-color: #f6bd07;
    color: rgba(35, 34, 49, 0.9843137255);
  }
}
.card {
  width: 220px;
  height: 370px;
  position: relative;
  transition: 0.1s ease;
  padding: 10px;
}
.card img {
  width: 100%;
  height: 280px;
  object-fit: fill;
  cursor: pointer;
}
.card .rating, .card .description {
  color: #f6bd07;
  text-align: center;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.top-films, .all-films {
  color: #f6bd07;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
.top-films h1, .all-films h1 {
  padding: 15px;
}
.top-films .top-films-card-cont, .top-films .all-films-card-cont, .all-films .top-films-card-cont, .all-films .all-films-card-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.top-films .title-center, .all-films .title-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top-films .underline, .all-films .underline {
  width: 100px;
  border: 2px solid #f6bd07;
  border-right: none;
  border-left: none;
  height: 5px;
}
.top-films .top-films-arrows, .all-films .top-films-arrows {
  min-width: 200px;
}
.top-films .top-films-arrows .arrow, .all-films .top-films-arrows .arrow {
  font-size: 50px;
  color: #f6bd07;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.top-films .top-films-arrows .arrow:hover, .all-films .top-films-arrows .arrow:hover {
  transform: scale(1.5);
}
.top-films .categories, .all-films .categories {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
.top-films .categories .catg, .all-films .categories .catg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
.top-films .categories .catg .link:hover, .all-films .categories .catg .link:hover {
  color: #f1ecec;
}
.top-films .categories .catg .submenu-cont, .all-films .categories .catg .submenu-cont {
  position: relative;
  padding-right: 15px;
}
.top-films .categories .catg .pd, .all-films .categories .catg .pd {
  position: absolute;
}
.top-films .categories .catg .link, .all-films .categories .catg .link {
  color: #f6bd07;
  text-decoration: none;
}
.top-films .categories .underline, .all-films .categories .underline {
  border-top: none;
  width: 100%;
  margin-top: 10px;
}
.top-films .view-more, .all-films .view-more {
  text-decoration: none;
  color: #f6bd07;
  transition: 0.1s ease;
  border-top: 2px solid #f6bd07;
  border-bottom: 2px solid #f6bd07;
  padding: 10px;
}
.top-films .view-more:hover, .all-films .view-more:hover {
  color: #d0e19d;
}

@media screen and (max-width: 700px) {
  .catg {
    flex-direction: column;
  }
}
@media screen and ((min-width: 800px) or (max-width: 890px)) {
  .top-films {
    text-align: center;
  }
  .top-films .card:nth-child(2) {
    display: none;
  }
  .all-films {
    text-align: center;
  }
  .all-films .catg .submenu-cont:hover .submenu {
    display: block;
  }
  .all-films .catg .submenu {
    display: none;
    list-style: none;
    position: absolute;
    left: -75%;
    z-index: 2;
    border: 3px solid rgba(26, 25, 36, 0.9843137255);
    background-color: rgba(26, 25, 36, 0.9843137255);
    border-radius: 10px;
  }
  .all-films .catg .submenu li {
    margin: 20px;
  }
  .all-films .catg .submenu li .nav-components {
    padding: 15px;
    list-style-type: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.1s;
    padding: 10px 30px;
    text-decoration: none;
    color: #f6bd07;
  }
  .all-films .catg .submenu .nav-components:hover {
    background-color: #f6bd07;
    color: #12111f;
  }
}
@media screen and (max-width: 1200px) {
  .top-films .card:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 1500px) {
  .top-films .card:nth-child(4), .top-films .card:nth-child(5) {
    display: none;
  }
}
.intro {
  min-height: 100vh;
  width: 100vw;
  color: #f6bd07;
  background-image: url("https://www.plex.tv/wp-content/uploads/2021/04/plex-splash-screen-04-30-21-new-1024x576.png");
  background-attachment: fixed;
}
.intro .pd {
  padding: 10px;
}
.intro .intro-container {
  width: 65%;
  padding: 150px;
}
.intro .intro-container .intro-title {
  font-size: 4em;
  width: 100%;
}
.intro .intro-container .intro-title .logo-span {
  color: #12111f;
  background-color: #f6bd07;
  padding: 5px 15px;
  border-radius: 20px;
}
.intro .intro-container .intro-subtitle {
  font-size: 1.5em;
  width: 100%;
}
.intro .intro-container .intro-button {
  padding: 15px;
  list-style-type: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.1s;
  border: #f6bd07 solid;
  background-color: #f6bd07;
  margin-top: 10px;
  padding: 10px 15px;
  height: 60px;
  width: 170px;
  font-size: 20px;
  font-weight: 600;
}
.intro .intro-container .intro-button:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #f6bd07;
}

@media screen and (max-width: 650px) {
  .intro {
    min-width: 50px;
  }
  .intro .intro-title {
    font-size: 36px !important;
  }
}
@media screen and (max-width: 1300px) {
  .intro .intro-container {
    padding: 80px;
    width: 100%;
  }
}
.banner {
  width: 100vw;
  min-width: 800px;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.banner img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}
.banner .banner-content {
  width: 20%;
  height: 100%;
  color: #FFEF9E;
  position: absolute;
  top: 10%;
  left: 10%;
  min-width: 350px;
  min-height: 200px;
}
.banner .banner-content .banner-title {
  font-size: 1.2em;
}
.banner .banner-content .banner-paragraph {
  min-width: 30px;
}
.banner .banner-content .read-more {
  color: #FFEF9E;
}
.banner .banner-content .read-more:hover {
  color: #E6A705;
}
.banner .pd {
  padding: 10px;
}

@media screen and (max-width: 790px) {
  .banner .banner-content {
    left: 2%;
  }
}
.testimonial-card {
  width: 350px;
  background-color: #f6bd07;
  display: flex;
  flex-direction: column;
  min-height: 900px;
  border-radius: 0 0 100px 0;
}
.testimonial-card h4, .testimonial-card p, .testimonial-card a {
  padding: 30px;
}
.testimonial-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.testimonial-card .read-more {
  color: rgba(35, 34, 49, 0.9843137255);
  font-weight: 400;
  transition: 0.1s ease;
}
.testimonial-card .read-more:hover {
  color: #76786e;
}

.anticipated {
  color: rgba(35, 34, 49, 0.9843137255);
  overflow: hidden;
  margin-top: 50px;
}
.anticipated h1 {
  color: #f6bd07;
  font-size: 1.5em;
}
.anticipated .pd {
  padding: 15px;
}
.anticipated .title-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.anticipated .underline {
  width: 100px;
  border: 2px solid #f6bd07;
  border-right: none;
  border-left: none;
  height: 5px;
}
.anticipated .testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-height: 80%;
}

@media screen and (max-width: 1000px) {
  .title-center {
    text-align: center;
  }
  .testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.suggested {
  width: 100%;
  color: #f6bd07;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.suggested .pd {
  padding: 15px;
}
.suggested .title-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.suggested .underline {
  width: 100px;
  border: 2px solid #f6bd07;
  border-right: none;
  border-left: none;
  height: 5px;
}
.suggested .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-content {
  background-color: #12111f;
  color: #f6bd07;
  display: grid;
  grid-template-columns: 20% 30% 10% 40%;
  grid-template-rows: repeat(2, 1fr);
  padding: 40px;
  text-align: center;
  margin: auto;
}
.footer-content .footer-logo-container {
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content .footer-logo-container .logo {
  width: 80%;
}
.footer-content .apps {
  padding: 10px;
  grid-column: span 2;
}
.footer-content .apps h5 {
  font-size: 1.2em;
}
.footer-content .apps img {
  height: 70px;
  padding: 10px 10px;
  cursor: pointer;
  transition: 0.1s ease;
  background: none;
}
.footer-content .apps img:hover {
  transform: scale(1.2);
}
.footer-content .footer-nav {
  grid-row: 2/3;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer-content .footer-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.footer-content .footer-nav ul li a {
  color: #f6bd07;
  transition: 0.1s ease;
  padding: 10px;
  white-space: nowrap;
}
.footer-content .footer-nav ul li a:hover {
  color: #d0e19d;
}
.footer-content .text {
  grid-column: 4/5;
  grid-row: 1/3;
  width: 80%;
  margin: auto;
}
.footer-content .text p {
  width: 100%;
}

@media screen and (max-width: 1030px) {
  .footer-content {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-content .footer-logo-container {
    grid-column: 1/2;
  }
  .footer-content .apps {
    grid-column: span 2;
  }
  .footer-content .footer-nav {
    grid-column: 3/4;
  }
}
@media screen and (max-width: 740px) {
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-content .footer-nav ul {
    flex-direction: column;
  }
  .footer-content .footer-nav ul li {
    padding: 15px;
  }
}
body {
  background-color: #232231;
}

.main-container {
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */